@font-face {
    font-family: nunitoblack;
    src: url(/cfg/font/Nunito-Black.ttf);
}
@font-face {
    font-family: nunitobold;
    src: url(/cfg/font/Nunito-Bold.ttf);
}
@font-face {
    font-family: nunitomedium;
    src: url(/cfg/font/Nunito-Medium.ttf);
}
@font-face {
    font-family: nunitosemibold;
    src: url(/cfg/font/Nunito-SemiBold.ttf);
}

body{
    font-family: nunitobold;
}
.joe{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joejoke{
    font-family: nunitosemibold;
}