@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    } 
    #github {
        color: #444444;
    }
    #dreck {
        color: #444444;
    }
    #clicker {
        color: #444444;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }
    #github {
        color: #444444;
    }
    #dreck {
        color: #444444;
    }
    #clicker {
        color: #444444;
    }
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    cursor: pointer;
}
#github {
    font-family: "Comic Sans MS";
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    color: #d3cece;
    bottom: 5px;
    left: 10px;
}
#dreck {
    font-family: "Comic Sans MS";
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    color: #d3cece;
    bottom: 5px;
    right: 10px;
}
#clicker {
    font-family: "Comic Sans MS";
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    color: #d3cece;
    top: 5px;
    left: 10px;
}
#Chicken-Sakurako {
    position: relative;
}