body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
cursor: pointer;
}
#bottomLink {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #ffffff;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
}