@font-face {
    font-family: nunitobold;
    src: url(/cfg/font/Nunito-Bold.ttf);
  }

body {
    margin: 0;
    padding: 0;
    font-family: nunitobold, sans-serif; /* Standard-Schriftart für den Rest der Seite */
}

.clickbutton {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle-button {
    width: 400px; /* Breite des Kreises */
    height: 400px; /* Höhe des Kreises */
    border-radius: 50%; /* Macht den Button rund */
    border: none; /* Entfernt den Standardrahmen */
    background-color: #ffae00; /* Hintergrundfarbe des Buttons */
    color: none; /* Textfarbe */
    font-size: 0px; /* Schriftgröße des Textes */
    cursor: pointer; /* Ändert den Cursor bei Hover */
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-button:hover {
    background-color: #ff9900; /* Ändert die Hintergrundfarbe beim Hover */
}

.click-counter {
    position: absolute;
    top: 20px; /* Abstand vom oberen Rand */
    left: 50%;
    transform: translateX(-50%);
    font-family: nunitobold; /* Spezielle Schriftart für den Click Counter */
    font-size: 24px; /* Schriftgröße des Click Counters */
    color: #333; /* Textfarbe */
}